# Swapnil.Shah.BDAT1004PS2 - 200476773

## Question 1

### What value is displayed when the last expression (a) is evaluated? Explain your answer by indicating what happens in every executed statement. Python module:

In [29]:
a = 0
def b():
 global a    # all refernces to a in b() are related to global a
 a = c(a)    # global a is changed whenever c(a) is being executed and value is being assigned to a.
def c(a):
 return a + 2
b()
b()
b()
a

6

In [ ]:
Explanation:

b()  # For the first time a's value will be 0 so in c(a), it will return 0+2=2 then global a's value will be 2
b()  # For the second time a's value will be 2 so in c(a), it will return 2+2=4 then global a's value will be 4
b()  # For the third time a's value will be 4 so in c(a), it will return 4+2=6 then global a's value will be 6
a=6  # Here global namespace a is being referred, so value is 6.
# Thus, everytime b() is getting executed, global a is getting changed,so a's value will be 6.

## Question 2

### Function fileLength(), given to you, takes the name of a file as input and returns the length of the file:

In [9]:
def fileLength(fileName):
    try:                                           #try block
        infile=open(fileName)
        data=infile.read()
        ln=len(data)
        infile.close()
        print(ln)
    except IOError:                                  #input output stream/operation error: so if a file won't there,
        print('File ' + fileName + ' not found.')     #exception will handle the error and print the friendly message
                                                   
        
fileLength('Filelength.txt')    #Executing function with correct file name
fileLength('Filelengt.txt')     #Executing function with wrong file name

123
File Filelengt.txt not found.

## Question 3

### Now write a class named Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial and also: a. extends the Marsupial __init__ constructor to take, as input, the coordinates x and y of the Kangaroo object, b. supports method jump that takes number values dx and dy as input and moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and c. overloads the __str__ operator so it behaves as shown below.

In [62]:
class Marsupial:
    def __init__(self):
        self.myLst = []
    def put_in_pouch(self,item):       #super class method which will appent an item, whenever it get executed.
        self.myLst.append(item)
    def pouch_contents(self):          # It will return the myLst 
        return self.myLst

class Kangaroo(Marsupial):
    def __init__(self,x,y):        #extended the Marsupial __init__ constructor.
        Marsupial.__init__(self)
        self.x = x
        self.y = y
    def jump(self,dx,dy):          # move the points according to x and y axis
        self.x += dx
        self.y += dy
    def __str__(self):            
        return 'I am a Kangaroo located at co-ordinates ({},{})'.format(self.x,self.y)
    
    
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

k = Kangaroo(0,0)
print(k)

k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
km=k.pouch_contents()
print(km)

k.jump(1,0)
k.jump(1,0)
k.jump(1,0)

print(k)

I am a Kangaroo located at co-ordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at co-ordinates (3,0)

## Question 4

### Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x

In [98]:
def collatz(x):
    if x == 1:               #if x == 1 it will stop and return the list- making base
        return [x]
    elif x%2==0:             #checking wether number is even or not
        return [x] + collatz(int(x/2))
    else:                    #for odd
        return [x] + collatz(int(x*3+1))

a=collatz(1)
b=collatz(10)
print("collatz(1)")
print(*a,sep = "\n")
print("\ncollatz(10)")
print(*b, sep = "\n")

collatz(1)
1

collatz(10)
10
5
16
8
4
2
1

## Question 5

### Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.

In [21]:
# Python program to convert decimal number into binary number using recursive function
 
def binary(n):
    if n == 0:
        return 0
        #print("Please enter positive n")
    else:
        binary(n//2)
    print(n % 2,end = '')

Number = int(input("Enter your Number: "))
binary(Number)

Enter your Number: 9
1001

## Question 6

In [88]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    Headers = ["h1", "h2"]
    current = -1

    def handle_starttag(self, tag, attrs):       # Start tag handler
        if tag in HeadingParser.Headers:         # checking for h1,h2 tags.
            HeadingParser.current = HeadingParser.Headers.index(tag)
    
    def handle_endtag(self, tag):                # End tag handler
        if tag == HeadingParser.Headers[HeadingParser.current]:           #checking for h1,h2 tags.
            HeadingParser.current = -1
            
    def handle_data(self, data):
        if HeadingParser.current >= 0:
            print(" " * HeadingParser.current + data)

In [89]:
infile = open("w3c.html","r")
content = fileOpen.read()
infile.close()
hp = HeadingParser()
hp.feed(fileContents)

W3C Mission
 Principles

## Question 7

In [51]:
from urllib.request import urlopen
from urllib.parse import urljoin
from html.parser import HTMLParser

class Collector(HTMLParser):
    #collects hyperlink URLs into a list

    def __init__(self, url):
        #initializes parser, the url, and a list
        HTMLParser.__init__(self)
        self.url = url
        self.links = []

    
    def handle_starttag(self, tag, attrs):
        #collects hyperlink URLs in their absolute format
        if tag == 'a':                 #checking for anchor tag
            for attr in attrs:          
                if attr[0] == 'href': 
                    # construct absolute URL
                    absolute = urljoin(self.url, attr[1])
                    if absolute[:4] == 'http': # collect HTTP URLs
                        self.links.append(absolute)   #appending all the links in a list
                        
    #Recursive webdir function according depth and indent
    
    def webdir(self,url,depth,indent):   
        print(indent*" " + url)
        if depth == 0:
            return 
        for i in self.links: 
            webdir(i, depth-1, indent+1)

In [53]:
url = 'http://reed.cs.depaul.edu/lperkovic/one.html'
resource = urlopen(url)
content = resource.read().decode()
collector = Collector(url)
collector.feed(content)

#Calling Webdir Function here
collector.webdir(url,2,0)

http://reed.cs.depaul.edu/lperkovic/one.html
 http://reed.cs.depaul.edu/lperkovic/two.html
 http://reed.cs.depaul.edu/lperkovic/three.html

### Connecting to DB, Creating Table and Entering values into it.

In [ ]:
import sqlite3
con = sqlite3.connect('ipydb.db')
cur = con.cursor()
cur.execute("CREATE TABLE cityWeather (City text, Country text, Season text,Temperature float,Rainfall float)")

In [40]:
cur.execute("INSERT INTO cityWeather VALUES ('Mumbai', 'India', 'Winter',24.8,5.9)")

In [27]:
cur.execute("INSERT INTO cityWeather VALUES ('Mumbai', 'India', 'Spring',28.4,16.2)")
cur.execute("INSERT INTO cityWeather VALUES ('Mumbai', 'India', 'Summer',27.9,1549.4 )")
cur.execute("INSERT INTO cityWeather VALUES ('Mumbai', 'India', 'Fall',27.6,346.0)")
cur.execute("INSERT INTO cityWeather VALUES ('London', 'United Kingdom', 'Winter',4.2,207.7 )")
cur.execute("INSERT INTO cityWeather VALUES ('London', 'United Kingdom', 'Spring',8.3,169.6)")
cur.execute("INSERT INTO cityWeather VALUES ('London', 'United Kingdom', 'Summer',15.7,157.0)")
cur.execute("INSERT INTO cityWeather VALUES ('London', 'United Kingdom', 'Fall',10.4,218.5)")
cur.execute("INSERT INTO cityWeather VALUES ('Cairo', 'Egypt', 'Winter',13.6,16.5)")
cur.execute("INSERT INTO cityWeather VALUES ('Cairo', 'Egypt', 'Spring',20.7,6.5)")
cur.execute("INSERT INTO cityWeather VALUES ('Cairo', 'Egypt', 'Summer',27.7,0.1)")
cur.execute("INSERT INTO cityWeather VALUES ('Cairo', 'Egypt', 'Fall',22.2,4.5)")

In [41]:
cur.execute('SELECT * FROM cityWeather')
cur.fetchall()

[('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5),
 ('Mumbai', 'India', 'Winter', 24.8, 5.9)]

## Question 8

### Write SQL queries on the below database table that return:

#### a) All the temperature data.

In [42]:
cur.execute('SELECT temperature FROM cityWeather')
A=cur.fetchall()
for item in A:
    print(item)

(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(27.7,)
(22.2,)
(24.8,)

#### b) All the cities, but without repetition.

In [43]:
cur.execute('SELECT DISTINCT City FROM cityWeather')
B=cur.fetchall()
for item in B:
    print(item)

('Mumbai',)
('London',)
('Cairo',)

#### c) All the records for India.

In [44]:
cur.execute("SELECT * FROM cityWeather WHERE Country='India'")
C=cur.fetchall()
for item in C:
    print(item)

('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('Mumbai', 'India', 'Winter', 24.8, 5.9)

#### d) All the Fall records.

In [45]:
cur.execute("SELECT * FROM cityWeather WHERE Season='Fall'")
D=cur.fetchall()
for item in D:
    print(item)

('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

#### e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.

In [46]:
cur.execute("SELECT City,country,Season FROM cityWeather WHERE Rainfall BETWEEN 200 AND 400")
E=cur.fetchall()
for item in E:
    print(item)

('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')

#### f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

In [47]:
cur.execute("SELECT City,country FROM cityWeather WHERE Season='Fall' AND temperature > 20 ORDER BY temperature ASC")
F=cur.fetchall()
for item in F:
    print(item)

('Cairo', 'Egypt')
('Mumbai', 'India')

#### g) The total annual rainfall for Cairo

In [48]:
cur.execute("SELECT SUM(Rainfall) FROM cityWeather WHERE City='Cairo'")
G=cur.fetchall()
for item in G:
    print(item)

(27.6,)

#### h) The total rainfall for each season.

In [49]:
cur.execute("SELECT SUM(Rainfall) FROM cityWeather GROUP BY Season")
H=cur.fetchall()
for item in H:
    print(item)

(569.0,)
(192.29999999999998,)
(1706.5,)
(230.1,)

## Question 9

### Suppose list words is defined as follows:  words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] Write list comprehension expressions that use list words and generate the following lists:

In [38]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']

#### A

In [61]:
A = [elements.upper() for elements in words]
print (A)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

#### B

In [62]:
B = [elements.lower() for elements in words]
print(B)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

#### C

In [63]:
C = [len(elements) for elements in words]
print(C)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

#### D

In [94]:
D = [[elements.upper(),elements.lower(),len(elements)] for elements in words]
print(D)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

#### E

In [39]:
E = [elements for elements in words if len(elements)>=4]
print(E)

['quick', 'brown', 'jumps', 'over', 'lazy']